mixin formTienda(tienda = [])
  form(action=`/agregar/${tienda._id || ''}` method="POST" class="card" enctype="multipart/form-data")
    label(for="nombre") Nombre de la Tienda:
    input(type="text" name="nombre" value=tienda.nombre)
    label(for="descripcion") Descripción de la Tienda:
    textarea(name="descripcion")= tienda.descripcion
    label(for="foto") Fotografía:
      input(type="file" name="foto" id="foto" accept="image/gif, image/png, image/jpeg")
      if tienda.foto
        img(src=`/uploads/${tienda.foto}`, alt="tienda.nombre" width=300)
    label(for="direccion") Dirección:
    input(type="text" id="direccion" name="ubicacion[direccion]" value=(tienda.ubicacion && tienda.ubicacion.direccion))
    label(for="longitud") Longitud:
    input(type="text" id="longitud" name="ubicacion[coordenadas][0]" value=(tienda.ubicacion && tienda.ubicacion.coordenadas[0]) required)
    label(for="latitud") Latitud:
    input(type="text" id="latitud" name="ubicacion[coordenadas][1]" value=(tienda.ubicacion && tienda.ubicacion.coordenadas[1]) required)
    - const opciones = ['PC', 'Xbox', 'Playstation', 'Nintendo']
    - const etiquetas = tienda.etiquetas || []
    label() Plataformas
    ul.tags
      each opcion in opciones
        .tag.tag__choice
          input(type="checkbox" id=opcion value=opcion name="etiquetas" checked=(etiquetas.includes(opcion)))
          label(for=opcion) #{opcion}
    input(type="submit" value="Guardar" class="button")