mixin formTienda(tienda = [])
  form(action=`/agregar/${tienda._id || ''}` method="POST" class="carg")
    label(for="nombre") Nombre de la Tienda:
    input(type="text" name="nombre" value=tienda.nombre)
    label(for="descripcion") Descripción de la Tienda:
    textarea(name="descripcion")= tienda.descripcion
    - const opciones = ['PC', 'Xbox', 'Playstation', 'Nintendo']
    - const etiquetas = tienda.etiquetas || []
    label() Plataformas
    ul.tags
      each opcion in opciones
        .tag.tag__choice
          input(type="checkbox" id=opcion value=opcion name="etiquetas" checked=(etiquetas.includes(opcion)))
          label(for=opcion) #{opcion}
    input(type="submit" value="Guardar" class="button")